body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
@font-face {
  font-family: 'D-DIN Exp';
  /* src: url(D-DIN-Bold.otf); */
  /* src: url(/src/fonts/D-DIN-Bold.otf);
  src: url(/src/fonts/D-DIN.otf); */
  src: url(/src/fonts/D-DINExp-Bold.otf);
}
@font-face {
  font-family: 'D-DIN';
  src: url(/src/fonts/D-DIN.otf);
}
h1{
  font-weight: 900;
  font-size: 36px;
}
a{
  text-decoration: none;
}
#myVideo{
  position: absolute;
 top: 0;
 right: 0;
  /* min-width: 100%; 
  min-height: 100%; */
  width: 100vw;
  object-fit: cover;
  height: 100vh;

  z-index: -10;
  @media (max-width: 768px){

  }
  
}